body{
    margin: 0px;
    background-color: black;
}
.tx1{
    color: white;
}
.tx2{
    background-color: orange;
    border-radius: 6px;
    width: 180px;
    height: 60px;
    text-align: center;
    color: black;
}
#img:hover{
    cursor: pointer;
}